[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = http://github.com/tpope/vim-fugitive.git
[submodule "bundle/systemverilog"]
	path = bundle/systemverilog
	url = http://github.com/morganp/vim-SystemVerilog.git
